<div class="main_container about_image">
  
  <h1 style="font-family: 'Helvetica Neue', sans-serif; color: #1e90ff; font-size: 2rem;">
    今日も一日お疲れ様でした(^-^)<br>
    ごゆっくりお休みください♪
  </h1>

  <div class="mt-4">
    <%= link_to "Topへ", root_path, class: "btn" %>
  </div>
  
</div>