<h1>今日も一日お疲れ様でした！<br>
ごゆっくりお休みください<i class="fa-regular fa-face-smile-wink"></i>
</h1>

<%= image_tag 'rinmon11708_TP_V.jpg', size: '500x300' %>

<%= link_to "Topへ", root_path, class: "btn", style: "background-color: lightskyblue; color: midnightblue; font-weight: bold;" %>