<div class="container" style="margin-top: 50px;">
  <h1 class="about_text">
    今日も一日お疲れ様でした (^-^)<br>
    ごゆっくりお休みください。
  </h1>
  
  <div class="about_image"></div>
  
  <div class="btn_container">
    <%= link_to "Topへ", root_path, class: "standard_btn" %>
  </div>
</div>