<h1>Praise!_App</h1>

<%= image_tag 'notebook-5448295_1280.jpg', size: '800x400' %>

<%= link_to "新規登録", new_member_registration_path, class: "btn", style: "background-color: #ffff7f; color: #202020; font-weight: bold;" %>
<%= link_to "ログイン", new_member_session_path, class: "btn", style: "background-color: #ffa8d3; color: #202020; font-weight: bold;" %>
<%= link_to "ゲストログイン（閲覧用）", members_guest_sign_in_path, class: "btn", style: "background-color: #7fffbf; color: #202020; font-weight: bold;" %>

<div class="description">
  <p>
    PraiseAppへようこそ！<br>
    このアプリは、あなたのタスク管理のサポートをします！<br>
    また、あなたの日常の努力や成果をシェアし、<br>
    他のユーザーと共にモチベーションを高めるためのSNSプラットフォームとなっています！<br>
    目標を達成するたびに、他のユーザーと喜びを共有し、新しい挑戦を始めましょう♫<br>
    ※ ポートフォリオのため、予告なく消す可能性があります。
  </p>
</div>

<div class="resources mt-5">
    <h2>イメージ素材</h2>
    <ul>
      <li> 提供: </li>
      <li> 提供: </li>
    </ul>
    <h2>参考文献</h2>
    <ul>
      <li><a href="" target="_blank">「」 - サイト名</a></li>
      <li><a href="" target="_blank">「」 - サイト名</a></li>
    </ul>
  </div>
</div>