<div class="main_container">
  <div class="app_title_section">
    <h1>Praise!_App</h1>
  </div>
</div>

<div class="main_container">
  <div class="welcome_section">
    <strong>PraiseAppへようこそ！</strong><br>
    こちらは、タスク管理サポートアプリです！<br>
    また、あなたの日常の努力や成果をシェアし、<br>
    他のユーザーと共にモチベーションを高めるためのSNSプラットフォームです！<br>
    目標を達成するたびに、他のユーザーと喜びを共有し、新しい挑戦を始めましょう♫<br>
    ぜひ！日々様々なことに取り組み、頑張った仲間に優しい声、労いの声をかけてあげましょう(^-^)b<br><br>
    <small>※ 可能性は低いですが、ポートフォリオのため、予告なく消す可能性があります。その時はすみませんm(_ _)m</small><br>
    <small>また、レイアウトや装飾につきましては現在整備中です！<br>今後グレードアップしていきますので暖かく見守っていただけると嬉しいです(*^^*)</small>
  </div>
</div>

<div class="main_container">
  <div class="button_section">
    <%= link_to "新規登録", new_member_registration_path, class: "btn my-2" %>
    <%= link_to "ログイン", new_member_session_path, class: "btn my-2" %>
    <%= link_to "ゲストログイン（閲覧用）", guest_sign_in_member_path, method: :post, class: "btn" %>
  </div>
</div>
<div class="main_container">
  <div class="image_credits_section">
    <h2>Image素材</h2>
    <ul style="list-style-type: none;">
      <li> 提供: <a href="https://pixabay.com/ja/" target="_blank">Pixabay</a></li>
      <li> 提供: <a href="https://www.pakutaso.com/" target="_blank">PAKUTASO</a></li>
      <li> 提供: <a href="https://stock.adobe.com/jp/" target="_blank">Adobe Stock</a></li>
      <li> 提供: <a href="https://illust-ryokka.jp/" target="_blank">イラスト緑花（RYOKKA)</a></li>
    </ul>
  </div>
</div>