<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      
      <!-- 検索ワードが存在する場合のみ表示 -->
      <% if @content.present? %>  
        <!-- Member検索した際の表示 -->
        <% if @model == 'Member' %>
          <h3 class="text-center">"<%= @content %>"の検索結果はこちら</h3>
          <%= render 'admin/members/index', members: @records %>
        
        <!-- Post検索した際の表示 -->
        <% elsif @model == 'Post' %>
          <h3 class="text-center">"<%= @content %>"の検索結果はこちら</h3>
          <% if @records.present? %>
            <% @records.each do |post| %>
              <%= render 'admin/posts/all_published_post', post: post %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>
