<div class="container d-flex justify-content-center align-items-center">
  <div class="text-center pt-5">
    
    <div class="my-4">
      <h3><strong>本当に退会しますか？</strong></h3>
    </div>
    
    <div class="my-5">
      <h5 style="line-height: 1.6;">
        退会すると、会員登録情報やこれまでのリストの履歴が閲覧できなくなります。<br>
        また、再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
        退会する場合は、<span style="color: #ff1745;">「退会する」</span>をクリックしてください。
      </h5>
    </div>
    
    <div style="margin-bottom: 140px;">
      <%= link_to "退会する", destroy_member_path(current_member), class: "btn btn-danger", method: :delete, data: { confirm: "本当に退会しますか？" } %>
      <%= link_to "退会しない", my_page_members_path, class:"btn btn-secondary" %>
  </div>
</div>