<div class="container mt-4">

  <h4 class="text-center py-2 mb-4" style="font-weight: 600; background-color: #ffccd5; color: #000000; border-radius: 12px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); letter-spacing: 0.5px;">
    全公開中リスト 一覧
  </h4>
    
  <div class="col-md-8 offset-md-2">
    <div class="tab-content">
      <!-- 全公開中リストを表示 -->
      <% @all_published_posts.each do |post| %>
        <%= render "all_published_post", post: post %>
      <% end %>
      <!--ページネーション-->
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @all_published_posts %>
      </div>
    </div>
  </div>

</div>