// Bootstrapのインポート
@use '~bootstrap/scss/bootstrap';
// -----------------------------------------------------------------------------------------------------------------
// body
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
// -----------------------------------------------------------------------------------------------------------------
// header
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  min-height: 120px;
  position: fixed;
  z-index: 1000;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/AdobeStock_501704898.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  z-index: -1;
}
// -----------------------------------------------------------------------------------------------------------------
// header アプリロゴ
.logo-image {
  background-image: url('../images/logo71282.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  margin-right: 5px;
  width: 90px;
  height: 90px;
  display: inline-block;
}

.logo-image:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.logo-text {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

.logo-text:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
// -----------------------------------------------------------------------------------------------------------------
// header リスト登録（ピンク）ボタン
.pink_btn-image {
  background-image: url('../images/Sticky-note-frame-2.jpg');
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: #2d3436;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pink_btn-image:hover {
  color: #cc0033;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5pxx rgba(0, 0, 0, 0.3);
}
// -----------------------------------------------------------------------------------------------------------------
// header リスト一覧（薄ピンク）ボタン・全公開リスト一覧（薄ピンク）ボタン
.lightpink_btn-image {
  background-image: url('../images/Sticky-note-frame-1.jpg');
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: #2d3436;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.lightpink_btn-image:hover {
  color: #ff33cc;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
// -----------------------------------------------------------------------------------------------------------------
// header ユーザー一覧（青）ボタン
.blue_btn-image {
  background-image: url('../images/Sticky-note-frame-4.jpg');
  background-size: cover;
  background-position: center;
  width: 170px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: #2d3436;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.blue_btn-image:hover {
  color: #0033cc;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
// -----------------------------------------------------------------------------------------------------------------
// header いいね一覧（黄色）ボタン・全コメント一覧（黄色）ボタン
.yellow_btn-image {
  background-image: url('../images/Sticky-note-frame-6.jpg');
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: #2d3436;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.yellow_btn-image:hover {
  color: #cc3300;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
// -----------------------------------------------------------------------------------------------------------------
// header 家計簿(支出)一覧（オレンジ）ボタン
.orange_btn-image {
  background-image: url('../images/Sticky-note-frame-7.jpg');
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: #2d3436;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.orange_btn-image:hover {
  color: #f05000;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
// -----------------------------------------------------------------------------------------------------------------
// header ログアウト（グレー）ボタン
.gray_btn-image {
  background-image: url('../images/Sticky-note-frame-9.jpg');
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: #2d3436;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.gray_btn-image:hover {
  color: #383c3c;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
// -----------------------------------------------------------------------------------------------------------------
// header 全タグ一覧（緑）ボタン
.green_btn-image {
  background-image: url('../images/Sticky-note-frame-55585.jpg');
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: #2d3436;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.green_btn-image:hover {
  color: #006633;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
// -----------------------------------------------------------------------------------------------------------------
// main
main {
  flex-grow: 1;
  background-color: #fffafa;
  padding: 20px;
  font-family: Rubik;
  margin-top: 120px;
  // おしゃれなフラッシュメッセージ表示ここから---------------------------------------
  .main {
    .flash-window  {
      height: 50px;
      padding: 10px;
      color: white;
      background: black;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s 0s ease;
      position: fixed;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;

      p {
        margin: 0;
        display: flex;
        align-items: center;

        span {
          margin-left: 1vw;
          color: white;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &.hidden {
        opacity: 0;
        top: 0px;
      }
    }
  }
}

@media (min-width: PC, タブレット共通) {
  main {
    .main {
      .flash-window  {
        width: 500px;
      }
    }
  }
}

@media (min-width: スマホ) {
  main {
    .main {
      .flash-window  {
        width: 90%;
        p {
          font-size: 4vw;
        }
      }
    }
  }
}
// ここまで-------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------------
// footer
footer {
  position: relative;
  height: 100px;
  width: 100%;
  margin-top: auto;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/AdobeStock_501704898.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  z-index: -1;
}

footer .text-muted {
  color: white !important;
}
// -----------------------------------------------------------------------------------------------------------------